/* Taille initiale de la carte */
#map { 
    height: 39vw; 
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 1150px et 1300px  */
@media screen and (min-height: 1150px) and (max-height: 1300px){
    #map { 
        margin-top: 40px;
        height: 800px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 931px et 1150px  */
@media screen and (min-height: 931px) and (max-height: 1150px){
    #map { 
        margin-top: 40px;
        height: 600px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 891px et 930px  */
@media screen and (min-height: 891px) and (max-height: 930px){
    #map { 
        margin-top: 40px;
        height: 475px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 846px et 890px  */
@media screen and (min-height: 846px) and (max-height: 890px){
    #map { 
        margin-top: 40px;
        height: 440px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 811px et 845px  */
@media screen and (min-height: 811px) and (max-height: 845px){
    #map { 
        margin-top: 30px;   
        height: 400px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 781px et 810px  */
@media screen and (min-height: 781px) and (max-height: 810px){
    #map { 
        margin-top: 30px;   
        height: 375px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur comprise entre 701px et 780px  */
@media screen and (min-height: 701) and (max-height: 780px){
    #map { 
        margin-top: 30px;   
        height: 350px; 
        
    }
}

/* Cette taille de carte s'applique lorsque l'écran a une hauteur de 700px  */
@media screen and (max-height: 700px){
    #map { 
        margin-top: 30px;   
        height: 275px; 
    
    }
}

/* Cette taille de police s'applique au footer lorsque l'écran a une largeur de 440px  */
@media screen and (max-width: 440px){
    #footerName{
        font-size: 10px;
    }
    #footerCentre{
        font-size: 15px;
    }
}

/* Cette taille de police s'applique au footer lorsque l'écran a une largeur de 400px  */
@media screen and (max-width: 400px){
    #footerName{
        font-size: 10px;
    }
    #footerCentre{
        font-size: 14.5px;
    }
}

/* Cette taille de police s'applique au footer lorsque l'écran a une largeur de 380px  */
@media screen and (max-width: 380px){ 
    #footerName{
        font-size: 9px;
    }
    #footerCentre{
        font-size: 14px;
    }
}
    



