#refreshButton{
    margin-right: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20%;
}

#refresh{
    width: 50px;
    height: 50px;
}

#Header {
    background-color: #03507B;
}

#imgTTN{
    width: 30%;
    margin-left: 70%;
    margin-top: 1%;
    border-radius: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

#global_conf{
    resize: none;
}


#LGLogs{
    resize: none;
}


#imgDownload{
    width: 50px;
    height: 50px;
}
